<script type="text/javascript" src="/themes/custom/tailwindcss/dist/js/filterizr.min.js"></script>
<ul>
    <!-- Filtering controls -->
    <button data-filter="all"> All items </button>
    <button data-filter="sport">Sport</button>
    <button data-filter="football">Football</button>
    <button data-filter="soccer">Soccer</button>
    <button data-filter="league">League</button>
    <button data-filter="NFL">NFL</button>
    <button data-filter="CFB">CFB</button>
    <button data-filter="team">Team</button>
    <!-- Sorting controls -->
    <button data-sortAsc> Ascending </button>
    <button data-sortDesc> Descending </button>
</ul>

<div class="filter-container">
    {% for sport, sport_data in groups %}
        <div class="filtr-item w-48 h-48" data-category="sport" data-sort="value">
            <input class="hidden peer" id="{{ sport|lower|replace({' ': '-'}) }}-option" type="checkbox" value="" />
            <label for="{{ soprt|lower|replace({' ': '-'}) }}-option" class="inline-block justify-between items-center p-5 h-48 w-48 text-gray-500 bg-white rounded-lg border-2 border-gray-200 cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 peer-checked:bg-sky-100 hover:text-gray-600 dark:peer-checked:text-gray-600 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                <img src="{{ sport_data.img }}" alt="{{ sport|title }}" height="100" width="100">
                {{ sport|title }}
            </label>
        </div>
        {% for league, league_data in sport_data.leagues %}
            <div class="filtr-item w-48 h-48" data-category="league, {{ sport }}" data-sort="value">
                <input class="hidden peer" id="{{ league|lower|replace({' ': '-'}) }}-option" type="checkbox" value="" />
                <label for="{{ league|lower|replace({' ': '-'}) }}-option" class="inline-block justify-between items-center p-5 h-48 w-48 text-gray-500 bg-white rounded-lg border-2 border-gray-200 cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 peer-checked:bg-sky-100 hover:text-gray-600 dark:peer-checked:text-gray-600 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img src="{{ league_data.img }}" alt="{{ league|title }}" height="100" width="100">
                    {{ league|title }}
                </label>
            </div>
            {% for team, team_data in league_data.teams %}
                <div class="filtr-item w-48 h-48" data-category="team, {{ league }}, {{ sport }}" data-sort="value">
                    <input class="hidden peer" id="{{ team|lower|replace({' ': '-'}) }}-option" type="checkbox" value="" />
                    <label for="{{ team|lower|replace({' ': '-'}) }}-option" class="inline-block justify-between items-center p-5 h-48 w-48 text-gray-500 bg-white rounded-lg border-2 border-gray-200 cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 peer-checked:bg-sky-100 hover:text-gray-600 dark:peer-checked:text-gray-600 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                        <img src="{{ team_data.img }}" alt="{{ team|title }}" height="100" width="100">
                        {{ team|title }}
                    </label>
                </div>
            {% endfor %}
        {% endfor %}
    {% endfor %}
</div>

<script>
    const filterizr = new Filterizr('.filter-container');
    filterizr.setOptions({
        layout: 'sameSize',
        gutterPixels: -1
    });
</script>
