<ul>
{% for sport, sport_data in groups %}
    <li><a class="tw-font-bold" href="{{ sport_data.url }}">{{ sport|title }}</a>
        <ul>
        {% for league, league_data in sport_data.leagues %}
            <li class="tw-pl-2"><a href="{{ league_data.url }}">{{ league }}</a>
                <ul>
                {% for team, team_data in league_data.teams %}
                    <li class="tw-pl-2"><a href="{{ team_data.url }}">{{ team }}</a></li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>