{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
<div class="flex gap-2 w-full">
  <div class="my-auto">
    {{ fields.field_post_image.content }}
    {{ fields.field_post_image_1.content }}
    {{ fields.field_image_upload.content }}
    {{ fields.field_tweet_local_image.content }}
  </div>
  <div class="w-full grow border-b border-gray-700 py-4">
    <div class="flex gap-1 font-bold text-lg">{#{{ fields.field_popularity.content }}#} {{ fields.type.content }} {{ fields.title.content }}</div>
    <div class="text-gray-600 text-sm">Posted in {{ fields.gid.content }} by {{ fields.uid.content }} at {{ fields.created.content }}</div>
    {{ fields.field_post_image.content }}
    {{ fields.field_post.content }}
    <div class="">
      {{ fields.comment_count.content }} comments {% if new_comments %}({{ fields.new_comments.content }}   new){% endif %}
    </div>
  </div>
</div>
